@import './src/n1-main/m1-ui/common/components/sass/variables';
@import './src/n1-main/m1-ui/common/components/sass/mixins';
.container {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60px;

    .passwordRecovery {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        @include form($colorForm, 300px, 300px,);
    }

    .element {
        margin-bottom: 10px;

    }

    .input {
        margin-left: 10px;
    }

    .green {
        color: green;
    }

    .red {
        color: red;
    }
}