$textColor: #212529;
$primaryColor: #e5d2f0;
$accentColor: #d9cadf;
$bgColor: #F8F9FA;
$bgSecondColor: #fff;
$titleFontFamily: 'Poppins', sans-serif;
$textFontFamily: 'Poppins', sans-serif;
$starColor: #edcced;
$btnColor: #edcced;
$profileColor: #fbeffb;
$rangeColor: #b66bb6; // цифры на Range
$paginationColor: #edcced;
$colorForm: #e8ddf3;
$tempBorder: 1px solid lightgray;

// fontSize


//for media query
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
