@import './src/n1-main/m1-ui/common/components/sass/variables';
@import './src/n1-main/m1-ui/common/components/sass/mixins';
.block {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 60px;


  .form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    @include form($colorForm, 400px, 400px,);



    .text {
      text-align: center;
      font-size: 30px;
    }



    .error {
      color: red;
      font-size: 20px;
    }
  }
}





