@import './src/n1-main/m1-ui/common/components/sass/variables';
@import './src/n1-main/m1-ui/common/components/sass/mixins';

.container {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 60px;

  .passwordNew {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    @include form($colorForm, 400px, 400px,);


    .button {
      width: 200px;
    }


    .green {
      color: green;
    }

    .red {
      color: red;
    }
  }
}
