@import '../../../n1-main/m1-ui/common/components/sass/variables';

.container {
  display: flex;


}
.button {
  margin-left: 10px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: $btnColor;
  border: none;
  margin-bottom: 10px;
}